@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.topbar{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background: linear-gradient(whitesmoke, #428bff 180%);
}
.logo{
	margin-left: 50px;
	background-image: url("logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	height: 100%;
}
.searchbar{
	position: relative;
	top: -35px;
	padding: 5px;
	padding-left: 30px;
	border-radius: 15px;
	height: 100%;
	background-image: url("search.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: whitesmoke;
}
.searchbar input{
	background: transparent;
	border: none;
	min-width: 150px;
	z-index: 2;
}
.login{
	z-index: 1;
	position: relative;
	margin-right: 50px;
	top: -60px;
	height: 100%;
	vertical-align: middle;
	text-align: right;
}
.login span:hover{
	text-decoration: underline;
	cursor: pointer;
}
.topbackground{
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	background-color: #428bff;
	vertical-align: top;
	text-align: center;
}
.content-wrap{
	width: 100%;
	height: 100%;
}
.content{
	margin: auto;
	text-align: center;
	width: 50%;
}
.bio table{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	position: relative;
	top: -62px;
}
.bio table tr td:nth-child(1){
	width: 120px;
	height: 120px;
	border: 4px solid whitesmoke;
	border-radius: 62px;
	background-image: url("avatar.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
.bio table tr td:nth-child(2){
	padding-left: 30px;
	vertical-align: bottom;
	text-align: left;
}
.bio table tr td:nth-child(2) span:nth-child(1){
	font-weight: bold;
	font-size: 25px;
}
.bio table tr td:nth-child(2) span:nth-child(3){
	color: #428bff;
}
.bio table tr td:nth-child(2) span:nth-child(3):hover{
	cursor: pointer;
}
.bio table tr td:nth-child(3) div{
	margin-top: 40px;
	margin-right: -20px;
	width: 40px;
	height: 40px;
	border: 2px solid whitesmoke;
	border-radius: 21px;
	background-image: url("bookmark.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.bio table tr td:nth-child(3) div:hover{
	border: 2px solid gray;
	cursor: pointer;
}
.basicinfo{
	position: relative;
	top: -52px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
}
.followbutton{
	position: relative;
	top: -22px;
	border: 2px solid gray;
	border-radius: 25px;
	padding: 10px;
}
.followbutton:hover{
	background-color: aliceblue;
	cursor: pointer;
}
.postinfo table{
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	border: none;
	width: 100%;
}
.post{
	width:70%;
	margin:auto;
	margin-bottom: 20px;
	border: 1px solid gray;
	border-radius: 10px;
}
.post-image img{
	width: 100%;
	border-radius: 10px;
}
.post-date{
	text-align: left;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: gray;
	padding-left: 20px;
	font-size: 15px;
}
.post-title{
	text-align: left;
	padding-left: 20px;
	font-size: 30px;
	font-weight: bold;
}
.post-bottom{
	text-align: right;
	padding-right: 10px;
	margin-bottom: 4px;
}